.tool-container {
  background: #f7f7f7;
  padding: 2rem 2rem 0 2rem;
}

input[type="text"] {
  background-color: white;
}

img {
  width: 100%;
}

@media screen and (min-width: 320px) {
  img {
    max-width: 500px;
  }
}
